$black: #1B1B1B;
$blue10: #D1E9FF;
$blue60: #355ADC;
$gray5: #F5F7F9;
$gray10: #EDEDED;
$gray20: #D6D6D6;
$gray30: #BABABA;
$gray60: #6C757D;
$gray70: #52595F;
$green10: #D1FFD6;
$green20: #28A745;
$light: #F8F9FA;
$primary: #343A40;
$red10: #FFD1D1;
$red60: #DC3545;
$yellow10: #F9FFD1;
$yellow20: #FFC107;
$white: #FFFFFF;
